/*----------------------Body and Universals----------------------*/
body{
	margin-top: 150px;
	background-color: #f8f5eb;
}
a{
	text-decoration: none;
	color: black;
}
h2{
	margin: 0;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 36px;
	font-weight: 400;  
	line-height: 1.5;
	letter-spacing: 0.5px;
}
p{
	margin: 0;
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 100;  
	line-height: 1.5;
	letter-spacing: 0.5px;
}
ol{
	list-style: none;
	counter-reset: item;
}

li{
    	counter-increment: item;
    	margin-bottom: 12px;
    	position: relative;
    	padding-left: 64px;
    	font-size: 2.5rem;
    	font-family: 'Source Sans 3', sans-serif;
}

li::before {
    	content: counter(item);
    	position: absolute;
    	left: -10px;
    	top: -2px;
    	background: #7A0019;
    	color: white;
    	width: 64px;
    	height: 64px;
    	border-radius: 50%;
    	text-align: center;
    	line-height: 64px;
}
.emph-paragraph{
	color: #7A0019;
	font-weight: 400;
}
.center-align{
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*----------------------Heading----------------------*/
header{
	/*border-bottom: 1px solid black;*/
	border-bottom: 1px solid rgba(0,0,0,0.15);
	background-color: #7A0019;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 150px;
	z-index: 10;
	   
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
}
#link-box{
	padding-right: 70px;
	justify-self: end;
}
#title-box{
	text-align: center;
	white-space: nowrap;
}
.heading-text-anchor{
	font-family: 'Source Sans 3', sans-serif;
	font-size: 56px;
	font-weight: 100;  
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: white;
}
/*----------------------Main----------------------*/
main{
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
}
.generic-button-anchor{
	height: 160px;
	width: 60%;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 7px;
	color: white;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 3.5rem;
	background-color: #7A0019;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hero-div{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.5rem;
}
.hero-div p{
	font-size: 3.5rem;
	text-align: center;
	width: 80%;
}
.trust-div{
	background-color: #f1ead9;
	padding-left: 50px;
}
.trust-card-div{
	margin-top: 50px;
	width: 80vw;
	
}
.trust-card-div h2{
	font-size: 4.5rem;
}
.trust-card-div p{
	font-size: 2.5rem;
}
.how-it-works-div{
	margin-top: 50px;
	padding-left: 50px;
}
.how-it-works-div h2{
	font-size: 3.5rem;
}
.how-it-works-div a{
	margin-top: 50px;
}
/*----------------------Footer----------------------*/
footer{
	margin-top: 30px;
	border-top: 1px solid rgba(0,0,0,0.05);
	background-color: #f1ead9; /*	#f1ead9,#e4dcc6,#ebe3cf,*/
	
	display: flex;
	flex-direction: column;
	align-items: center;	
}
.footer-info-div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}
.footer-info-div p{
	font-size: 2rem;
	text-align: center;
}
/*----------------------Form----------------------*/
.form-intro-div{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 50px;
}
.form-intro-div p{
	font-size: 3.5rem;
	text-align: center;
}
.form-fill-div{
	margin-top: 100px;
}
.form-fill-div form{
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.form-fill-div input{
	width: 100%;
	font-size: 2.5rem;
	height: 160px;
	border: 2px solid rgba(0,0,0,0.2);
	border-radius: 30px;
	font-family: 'Source Sans 3', sans-serif;
	background-color: #f8f5eb;
	accent-color: #7A0019;
}
.form-fill-div input:focus{
	border: 1px solid rgba(0,0,0,0.8);
	background-color: #f1ead9; 
	outline: none;
}
.form-fill-div fieldset{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 5fr;
	margin-top: 2rem;
	display: grid;
	gap: 30px;
	box-sizing: border-box;
	border: none;
}
.form-fill-div legend{
	font-family: 'Source Sans 3', sans-serif;
	font-size: 2.5rem;
	font-weight: 100;  
	line-height: 1.5;
	letter-spacing: 0.5px;
}
.form-fill-div label{
	font-family: 'Source Sans 3', sans-serif;
	font-weight: 100;  
	line-height: 4;
	letter-spacing: 0.5px;
	font-size: 2.5rem;
}
	
.form-fill-div button{
	width: 60vw;
	height: 160px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 30px;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 2.5rem;
	color: white;
	background-color: #7A0019;
}
.form-fill-div button:focus{
	border: 1px solid rgba(0,0,0,0.8);
	background-color: #7A0019; 
	outline: none;
}
/*----------------------Profile----------------------*/
.profile-intro-div{
	margin-top: 50px;
}
.profile-intro-div p{
	font-size: 3.5rem;
	text-align: center;
}
.profile-div{
	background-color: #f1ead9;
	border-radius: 80px;
	margin-top: 50px;
	width: 90vw;
}
.img-div{
	position: relative;
	width: 90%;
	margin-top: 5%;
}
.img-div img{
	width: 100%;
	border-radius: 50px;
}
.img-div h2{
	position: absolute;
	top: 2%;
	left: 5%;
	font-size: 6rem;
	color: #7A0019;
}
.description-div{
	width: 80%;
	margin-top: 30px;
}
.description-div p{
	font-size: 2.5rem;
}
.details-div{
	margin-top: 20px;
	margin-bottom: 5%;
}
.details-div p{
	font-size: 2rem;
	line-height: 1.2;
}
.profile-accept-div{
	margin-top: 50px;
	width: 80vw;
}
.profile-accept-div p{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 20px;
}
.accept-button-anchor{
	width: 30vw;
	height: 80px;
	font-size: 2.5rem;
}
/*---Ex---pe---ri---me---nt---al---*/


